/*Header and Navigation Section*/

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

h2 {
  color: mediumaquamarine;
  font-size: 14px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

li {
  display: inline-block;
  text-decoration: none;
  padding: 20px 30px;
}

 li a {
   color: black;
 }

 .logo {
   display: flex;
   align-items: center;
 }

 /*Main content secttion*/
 article {
   /*Border is temporaly and needs to be remote*/
   border: 1px solid black;
 }

article div {
  border: 1px solid black;
}

.conteiner {
  display: flex;
}
